<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta content="" charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include header.ejs%>
    <div>
        我是user
    </div>
</body>
</html>