<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta content="" charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div>
        <ul>
            <% news.forEach((item,key) =>{%>
                <li><%=item%>------<%=key%></li>
            <%})%>
        </ul>
        <img src="images/baidu.png" alt="百度">
    </div>
</body>
</html>